<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="TaskContext"
         connectionString="Data Source=LEVASCH-STD006;
           Initial Catalog=TaskManagementDB;
           Integrated Security=True;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>